@inherits LayoutComponentBase

<div class="page custom-background">
    <div class="sidebar shadow-lg">
        <NavMenu />
    </div>

    <main class="d-flex flex-column w-100">
        <div class="top-row px-4 shadow-sm bg-white d-flex justify-content-end align-items-center">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="btn btn-outline-primary btn-sm px-4 fw-bold rounded-pill shadow-sm">
                <i class="bi bi-box-arrow-in-right me-1"></i> Login
            </a>
        </div>

        <article class="content px-4 py-4 flex-grow-1">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet class="alert alert-danger shadow-lg custom-error-ui">
    <i class="bi bi-exclamation-triangle-fill me-2"></i> An unhandled error has occurred.
    <a href="." class="reload fw-bold ms-3 text-danger text-decoration-none">Reload</a>
    <span class="dismiss ms-2 text-danger" role="button">🗙</span>
</div>